ansible==2.9.4
awscli==1.17.9
boto3==1.11.9
botocore==1.14.9
cffi==1.13.2
colorama==0.4.1
cryptography==3.2
docutils==0.15.2
enum34==1.1.6
futures==3.3.0
ipaddress==1.0.23
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
pyasn1==0.4.8
pycparser==2.19
python-dateutil==2.8.1
PyYAML==5.2
rsa==3.4.2
s3transfer==0.3.2
six==1.14.0
urllib3==1.25.8
